.funbar-block
	position: fixed
	z-index: 11
	left: 0px
	bottom: 0px
	display: block
	width: 100%
	min-width: 1200px
	text-align: center
	height: 60px

.funbar
	border-radius: 32px 32px 0 0
	padding: 15px 25px 13px
	display: flex
	background:
		color: rgba(247,71,105, .2)
	height: 60px

.funbar-item
	display: flex
	align-items: center
	justify-content: center
	position: relative
	margin:
		right: 25px
	padding-right: 25px
	border-right: solid 1px #aaa
	&:last-child
		border: none
		padding: 0
		margin: 0