$c-w: #4a4a4a
$c-bg: #979797
.funbar-block
	position: fixed
	z-index: 11
	left: 0px
	bottom: 0px
	display: block
	width: 100%
	min-width: 1200px
	text-align: center
	height: 65px
	transition: .6s
	&.move
		margin:
			left: -25%
		transition: .6s
	.wrapper-right-f1
		padding-right: 90px 
		// ^ icon-how.width()
		

.funbar
	border-radius: 32px 32px 0 0
	padding: 15px 20px 13px
	display: flex
	background:
		color: rgba(247,71,105, .2)
	height: 100%
	margin: 0 auto

.funbar-item
	display: flex
	align-items: center
	justify-content: center
	margin:
		right: 20px
	padding:
		right: 20px
	border-right: solid 1px #aaa
	&:last-child
		border: none
		padding: 0
		margin: 0
	&.is-item-group
		border: none
		padding:
			right: 0
		margin:
			right: 0
	&.is-item-memo
		border: none
		margin: 0
		padding:
			right: 10px

.funbar-btn
	font:
		size: 1.0626rem
		weight: bold
	color: $c-w
	&:focus,
	&:hover
		color: $c-w
		text:
			decoration: none
.icon-bulb
	margin:
		top: -20px

.funbar-memobox,
.funbar-phrase,
.funbar-collection
	display: flex
	align-items: center
	height: 100%
	border-radius: 20px
	padding: 0 15px
	transition: .3s

.funbar-memobox.active,
.funbar-phrase.active,
.funbar-collection.active
	background:
		color: #fff
	transition: .3s
// -----------------------------------
.controlbox
	display: flex
	align-items: center
	justify-content: center
	height: 40px
	border:
		radius: 20px
	background:
		color: $c-bg
	position: relative
	&:after
		background:
			color: #fff
		content: ''
		display: block
		border-radius: 20px
		height: 100%
		width: 50%
		position: absolute
		transition: left .2s
		left: 50%

.active
	.controlbox
		&:after
			left: 0
			transition: left .2s
	
.controlbox-item
	color: $c-w
	font:
		size: 1.0625rem
		weight: bold
	font-style: normal
	text-align: center
	position: relative
	z-index: 1
	user-select: none
	cursor: pointer
	padding: 0 15px

.is-ench
	.controlbox-item
		width: 93px

.icon-how
	position: fixed
	bottom: 0
	right: 0
	z-index: 100



@media screen and (max-width: 1440px)
	.funbar-item
		margin-right: 10px
		padding-right: 10px
	.controlbox-item,
	.funbar-phrase,
	.funbar-collection
		padding: 0 10px

	.funbar
		width: 673px

@media screen and (min-width: 1441px)
	funbar
		width: 793px