@import 'compass'
@import 'sprite/*.png'
$height: sprite-sprite-height(favorite) + sprite-sprite-height(print) + sprite-sprite-height(arrow_left) + sprite-sprite-height(pink) + sprite-sprite-height(bulb) + sprite-sprite-height(refresh) + sprite-sprite-height(correct) + sprite-sprite-height(del) + sprite-sprite-height(how) + sprite-sprite-height(like)
@mixin BG($path)
	@include sprite-sprite($path)
	background:
		size: auto $height
		repeat: no-repeat
	width: sprite-sprite-width($path)
	height: sprite-sprite-height($path)

.icon-like
	@include BG(like)
	
.icon-how
	@include BG(how)
	
.icon-del
	@include BG(del)

.icon-correct
	@include BG(correct)	
	
.icon-refresh
	@include BG(refresh)

.icon-favorite
	@include BG(favorite)

.icon-print
	@include BG(print)

.icon-arrowleft
	@include BG(arrow_left)

.icon-pink
	@include BG(pink)

.icon-bulb
	@include BG(bulb)