.is-phrase
	position: relative
	&:after
		content: ''
		display: block
		position: absolute
		height: 1px
		width: 100%
		bottom: 3px
		background:
			color: #0d86ff
	&:hover:after
		display: none
	
.article_mask
	width: 100%
	height: 100%
	max-width: $max-width
	margin:
		right: auto
		left: auto
	overflow: hidden
	position: relative
	text-align: left
	
article
	position: relative
	height: 100%
	display: block
	float: left
	padding:
		left: 4%
		bottom: 20px
		top: 100px
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif
	line-height: 1.4
	letter-spacing: 1px

.read_btn
	opacity: 0
	background:
		image: url(../images/pc_a/sound_icn.png)
		repeat: no-repeat
		size: 100% auto
		color: transparent
		position: center center
	border-style: none
	height: 20px
	width: 20px
	padding: 0px
	vertical-align: middle
	margin:
		right: 5px
		left: 10px
	transition: opacity .3s

// -----------------------------------
// -- ENGLISH & CHINESE
// -----------------------------------
.stepblock1
	width: 100%
	display: block
	overflow-y: auto
	padding-right: 3%
	position: relative
	user-select: none

.icon-refresh
	position: absolute
	top: 8px
	opacity: .85
	transition: .3s
	&:hover
		transform: rotate(180deg)
		opacity: 1
		transition: .3s

.icon-like
	position: absolute
	display: flex
	align-items: center
	top: 6px
	opacity: .85
	transform: scale(.8)
	transition: .3s
	font:
		size: 1.7rem
	padding:
		left: 41px
		top: 5px
	letter-spacing: 0px
	width: auto
	color: #f74769
	&:hover
		opacity: 1
		transition: .3s
		text:
			decoration: none
		color: #cf3b57

.english
	display: block
	padding:
		top: 20px
		bottom: 7px
	font:
		family: arial
		weight: normal
		size: 1.375rem
	letter-spacing: 1.2px
	line-height: 1.4
	word-wrap: break-word
	color: #4a4a4a

	span
		color: #4a4a4a
		display: inline-block
		font:
			size: 1.375rem
		&:hover
			color: #003368
			background-color: #fa7e96
			cursor: pointer

	&:hover
		.read_btn
			opacity: 1
			transition: opacity .3s
#Nt1, #t1
	padding-top: 0

.Chinese
	display: none
	display: block
	color: #555
	padding:
		top: 7px
		bottom: 30px
	line-height: 1.6
	font:
		size: .9375rem
		weight: normal
	span
		overflow: hidden
		display: inline-block
	&.show
		display: block
	&.is-hide
		padding: 0
		height: 0
		line-height: 0
		span
			height: 0
			line-height: 0

// now reading
.english.lightheight,
.Chinese.lightheight
	color: #aa0102!important
	span
		color: #aa0102!important
	.read_btn
		opacity: 1

// un reqding
.english.lightheightBG,
.Chinese.lightheightBG
	// color: #888!important

span.is-height-light
	color: #003368
	background-color: #fa7e96
	cursor: pointer

// -----------------------------------
// -- TITLE
// -----------------------------------
#Nt0, #t0
	color: #4a4a4a
	font:
		size: 2.5rem
		weight: bold
	line-height: 1.1
	padding:
		top: 0
	padding:
		right: 135px
	span
		font:
			size: 2.5rem
			weight: bold

#Nct0, #ct0
	color: #4a4a4a
	font:
		size: 1.5rem
	span
		font:
			size: 1.5rem

// -----------------------------------
// -- ANNOTATION
// -----------------------------------
.annotation
	border:
		top: solid 15px #fff
		bottom: solid 15px #fff
	display: block
	color: rgba(0,87,175,1)
	background-color: #f2f2f2
	padding: 18px 20px
	line-height: 1.3
	border-radius: 6px
	font:
		size: 1.4375rem
		weight: bold
		family: 'Playfair Display', serif, 'PMingLiU'

	&.bubblehighlightBG
		color: rgba(0,87,175,.6)

.buble-ch
	font:
		size: .875rem
		family: Microsoft JhengHei, Arial
	margin:
		left: 5px


@media screen and (max-width: 1440px)
	.icon-refresh
		right: calc( 3% - 10px )

	.icon-like
		right: calc( 3% + 54px )

@media screen and (min-width: 1441px)
	.icon-refresh
		right: calc( 3% - 20px )

	.icon-like
		right: calc( 3% + 47px)