article
	position: relative
	width: calc(100% - #{$w-aside})
	height: 100%
	display: block
	float: left
	// padding-right: 2%
	padding-left: 2%
	font-family: "微軟正黑體 Light"
	font-size: 1.8rem
	font-weight: bold
	padding-top: 90px
	line-height: 1.4
	letter-spacing: 1px
	padding-bottom: 20px