%transition
	transition: .3s
$wh: 155px
$bar: 15px
$bottom: 18px
.memobox
	font:
		size: 0
	width: $wh + 20px
	height: $wh
	position: absolute
	box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.1)
	border-radius: 0 0 32px 0
	z-index: 15
	top: 0
	left: 0
	&:hover
		.memobox-text,.memobox-box:before,
		.memobox-box:after
			@extend %transition
	&.is-static
		transition: .1s
		

body.is-memo-moving
	user-select: none
	.annotation
		cursor: not-allowed
	.english, .Chinese
		cursor: not-allowed
		span:hover
			cursor: pointer

.memobox-bar
	display: flex
	height: $bar
	position: relative
	z-index: 1

.memobox-movearea
	cursor: move
	width: 100%

.memobox-text
	width: 100%
	height: calc( #{$wh} - #{$bar} - #{$bottom} )
	padding: 5px 10px 0
	border: none
	// margin: 8px 8px 0
	// height: calc( 100% - 30px - 8px )
	// width: calc( 100% - 16px )
	font:
		size: 16px
		family: AdobeKaitiStd-Regular
	line-height: 1.2
	@extend %transition
	resize: none
	&:focus
		outline: none

.memobox-bottom
	position: relative
	height: $bottom
	&:before,&:after
		content: ''
		display: block
		position: absolute
		bottom: 0
		@extend %transition
	&:before
		height: $bottom
		width: calc( 100% - #{$bottom})
		left: 0
	&:after
		width: 0
		height: 0
		border:
			style: solid
			width: #{$bottom} #{$bottom} 0 0
		right: 0

.memobox-del
	right: 69px
	user-select: none
	border: none

.memobox-save
	right: 20px

.memobox-del,
.memobox-save
	padding: 0 3px
	text-transform: capitalize
	bottom: 5px
	line-height: .875rem
	height: .875rem
	position: absolute
	font:
		size: .875rem
	&:hover
		text:
			decoration: none