%transition
	transition: .3s
$wh: 160px
$bar: 10px
$bottom: 15px
.memobox
	font:
		size: 0
	width: $wh + 20px
	height: $wh
	position: absolute
	box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.1)
	border-radius: 0 0 26px 0
	z-index: 15
	top: 0
	left: 0
	&:hover
		.memobox-text,.memobox-box:before
			background:
				color: $c3
			@extend %transition
		.memobox-box:after
			border:
				color: $c4 transparent transparent
			@extend %transition
.memobox-bar
	height: $bar
	background:
		color: $c3
	cursor: move
	position: relative

.memobox-text
	width: 100%
	height: calc( #{$wh} - #{$bar} - #{$bottom} )
	padding: 5px 10px 0
	border: none
	// margin: 8px 8px 0
	// height: calc( 100% - 30px - 8px )
	// width: calc( 100% - 16px )
	background: $c3-t	
	font:
		size: 16px
		family: '新細明體'
	line-height: 1.2
	@extend %transition
	resize: none
	&:focus
		outline: none
	&:placeholder
		color: red

.memobox-box
	overflow: hidden
	cursor: move
	&:before,&:after
		content: ''
		display: block
		float: left
		@extend %transition
	&:before
		background:
			color: $c3-t
		height: $bottom
		width: calc( 100% - #{$bottom})
	&:after
		width: 0
		height: 0
		border:
			style: solid
			width: #{$bottom} #{$bottom} 0 0
			color: $c4-t transparent transparent

.memobox-del
	position: absolute
	right: 5px
	top: 5px
	font:
		size: 0
	display: block
	user-select: none
	background:
		color: transparent
	border: none

.moving
	// border: solid 1px #3092ca