%block
	display: flex
	height: 50px
$w-icon: 70px
.topbar
	position: fixed
	top: 0
	width: 100%
	height: 76px
	box-shadow: 0 0 12px rgba(0,0,0, .1)
	align-items: center
	z-index: 11

	.wrapper
		display: flex
		max-width: 1770px
		min-width: $min-width
		margin: 10px auto 0

.topbar-back-btn
	@extend %block
	align-items: center
	font:
		size: 2.2rem
		weight: bold
	color: $c1
	width: 180px

	&:hover
		color: $c1
		text:
			decoration: none		

// -----------------------------------
.topbar-main-f1
	padding:
		left: 2%
	display: flex

.topbar-main-f2
	padding:
		left: 3%
	width: 100%
	display: flex

// -----------------------------------
.topbar-step
	@extend %block
	width: calc( 100% - #{$w-icon * 2} )

.topbar-step-item
	display: flex
	align-items: center
	width: 32%
	border-right: solid 1px #e7e7e7
	margin:
		right: 1.5%
	&:nth-child(1)
		width: 27.5%
	&:nth-child(2),
	&:nth-child(3)
		justify-content: center
		width: 34%
	&:nth-child(3)
		position: relative

.topbar-num
	text-align: center
	background:
		color: #f74769
	border-radius: 50%
	color: #fff
	font:
		weight: bold
	font-family: serif

.topbar-text
	font:
		weight: bold
	color: $c1

.active
	.topbar-num
		background-color: $c2
	.topbar-text
		color: $c2

// -----------------------------------
.topbar-scort
	position: absolute
	bottom: -245px
	width: calc( 103% + 2px )
	margin:
		left: calc( -1.5% - 2px )
	background:
		color: #fff

.topbar-scrot-item
	height: 76px
	display: flex
	align-items: center
	justify-content: center
	position: relative
	&:after
		content: ''
		display: block
		height: 1px
		width: 96%
		background:
			color: $c1
		position: absolute
		bottom: 0
		left: 2%
	&:last-child
		&:after
			display: none
	.topbar-num
		font:
			size: 2rem
			weight: normal
		width: 30px
		line-height: 30px
	.topbar-text
		font:
			size: 1.8rem

// -----------------------------------
.topbar-icon
	@extend %block
	width: $w-icon * 2

.topbar-icon-item
	@extend %block
	width: $w-icon
	display: flex
	justify-content: center
	align-items: center
	& > *
		display: inline-block

@media screen and (max-width: 1440px)
	.topbar-num
		line-height: 30px
		width: 30px
		font:
			size: 3rem

	.topbar-text
		font:
			size: 1.7rem
		padding:
			left: 5px

@media screen and (min-width: 1441px)
	.topbar-num
		line-height: 50px
		width: 50px
		font:
			size: 4rem

	.topbar-text
		font:
			size: 2.2rem
		padding:
			left: 10px

@media screen and (max-width: 1769px)
	.topbar-back
		margin-left: 12px

@media screen and (min-width: 1800px)
	.topbar-back
		margin-left: -5px