.tranglationBody
	width: 24%
	display: block
	height: 100%
	color: #FFF
	background-color: #ff9eb1
	position: absolute
	top: 0px
	right: -26%
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2)
	transition: all .6s
	padding:
		top: 80px
		right: 30px
		left: 30px

	&.show
		right: 0px

.close_btn
	background:
		image: url(../images/pc_a/close_btn.png)
		repeat: no-repeat
		size: 100% auto
		color: transparent
	height: 30px
	width: 30px
	position: absolute
	top: 95px
	right: 30px
	border-style: none

.translation_Font
	font:
		size: 2.5rem
		family: 'Abril Fatface', cursive
		weight: 500
	line-height: 1.2
	color: #4a4a4a
	letter-spacing: 1px
	border-bottom: 1px solid #e7e7e7
	text-align: center
	display: block
	padding:
		top: 20px
		bottom: 20px

.translation_list
	display: block
	overflow-y: auto
	margin-top: 10px
	height: calc(100% - 110px)
	width: 100%
	padding-right: 20px

.vacbox
	margin:
		bottom: 38px
// -----------------------------------
.vacmain
	color: #036
	& > *
		display: block
	margin:
		bottom: 10px
.vacmain-en
	font:
		size: 1.4375rem
		family: "Playfair Display", serif, "PMingLiU"
		weight: bold
	margin:
		bottom: 8px
.vacmain-ch
	font:
		size: 1rem
		weight: bold

// -----------------------------------
.vacsub
	color: #000
	& > *
		display: block
.vacsub-en
	font:
		size: 1.375rem
	line-height: 1.25
	margin:
		bottom: 5px
.vacsub-ch
	font:
		size: .9375rem
	line-height: 1.5