#Dr_layer
	opacity: 0

	&.is-ready
		opacity: 1
		transition: opacity .5s .2s
	
#BGLoading
	position: relative

// -----------------------------------
.drbox
	position: absolute
	top: 0
	height: 30px
	right: 20px
	margin: auto
	display: none
	cursor: default

.drbox-icon
	width: 60px
	padding: 0 8px 0 0
	line-height: 16px
	border-radius: 10px
	font-size: 12px
	letter-spacing: 1px
	cursor: pointer
	border:
		style: solid
		width: 1px
	position: absolute
	top: 6px
	.drbox-true
		display: block
	.drbox-false
		display: none
		line-height: 18px
	&.active
		text-align: center
		padding: 0
		animation: none!important
		span
			animation: none!important
		.drbox-true
			display: none
		.drbox-false
			display: block

.drbox-true
	span
		line-height: 16px
		font-size: 13px
		display: inline-block
		width: 18px
		text-align: center
		border-radius: 10px
		margin-right: 4px


.drbox-logo
	background:
		image: url('../images/dr-eye-logo.png')
	width: 53px
	height: 12px
	float: right
	margin:
		top: 11px