#stepBox
	&.is-step1
		.step-fnbar1
			display: flex
			height: 56px

		.step-fnbar2
			display: none

	&.is-step2
		.step-fnbar1
			display: none

		.step-fnbar2
			display: flex
			transform: translateX(25px)
			&.is-not-ready
				display: none

	&.is-step3
		.step-fnbar1,
		.step-fnbar2
			display: none

.funbar-box
	position: fixed
	z-index: 11
	left: 0px
	bottom: 0px
	display: block
	width: 100%
	min-width: 1200px
	text-align: center
	height: 65px
	transition: .6s
	&.move
		margin:
			left: -25%
		transition: .6s
	.wrapper-right-f1
		padding-right: 90px 
		// ^ icon-how.width()
		

.funbar
	border-radius: 5px 5px 0 0
	padding: 12px 12px 10px
	display: flex
	height: 100%
	margin: 0 auto

.funbar-item
	display: flex
	align-items: center
	justify-content: center
	margin:
		right: 15px
	padding:
		right: 15px
	border-right: solid 1px #aaa
	&:last-child
		border: none
		padding: 0
		margin: 0
	&.is-item-group
		border: none
		padding:
			right: 0
		margin:
			right: 0
	&.is-item-memo
		border: none
		margin: 0
		padding:
			right: 10px

.funbar-btn
	font:
		size: 1.0626rem
		weight: bold
	&:focus,
	&:hover
		text:
			decoration: none

.funbar-box
	position: fixed
	z-index: 11
	left: 0px
	bottom: 0px
	display: block
	width: 100%
	min-width: 1200px
	text-align: center
	height: 55px
	transition: .6s
	&.move
		margin:
			left: -25%
		transition: .6s
	.wrapper-right-f1
		padding-right: 90px 
		// ^ icon-how.width()

.is-item-read,
.is-item-language
	width: 120px
	line-height: 29px
	font:
		size: 17px!important
		// size: 1.0625rem
	border:
		radius: 10px
		width: 1px
		style: solid
	letter-spacing: 1px
	text-align: center
	cursor: pointer
	vertical-align: 33px
	display: inline-block
	user-select: none
	transition: background-color .5s
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25)

.is-item-read
	opacity: .6
	&.active
		opacity: 1

.is-item-language
	position: absolute
	top: -30px
	left: 23px

@media screen and (max-width: 1440px)
	.funbar-item
		margin-right: 7px
		padding-right: 7px