@import 'compass'
@import 'sprite/*.png'
$height: sprite-sprite-height(bulb) + sprite-sprite-height(correct) + sprite-sprite-height(del) + sprite-sprite-height(del_c) + sprite-sprite-height(star_off) + sprite-sprite-height(star_on)

@mixin BG($path)
	@include sprite-sprite($path)
	background:
		size: auto $height
		repeat: no-repeat
	width: sprite-sprite-width($path)
	height: sprite-sprite-height($path)

.icon-bulb
	@include BG(bulb)

.icon-correct,
.is-true .s3ex1-icon,
.is-true .s3ex3-icon
	@include BG(correct)	

.icon-del
	@include BG(del)

.icon-del-c, 
.is-false .s3ex1-icon,
.is-false .s3ex3-icon
	@include BG(del_c)

.icon-star, .drbox-icon
	@include BG(star_off)
	cursor: pointer
	
.icon-star.active, .drbox-icon.active
	@include BG(star_on)