.lb-mask,
.lb-mask-teach,
.lb-mask-final,
.lb
	position: fixed
	margin: auto
	top: 0
	right: 0
	bottom: 0
	left: 0
	z-index: 9999

.lb-box
	transform: translateY(-50%)
	top: 50%

.lb
	height: 1px
	&.is-lb-teach
		width: 60%
		.lb-box
			@include video
	&.is-lb-step1,
	&.is-lb-step2,
	&.is-lb-step3,
	&.is-lb-final
		width: 825px


// -----------------------------------
.lb-title
	font-size: 2rem
	text-align: center
	margin:
		bottom: 35px

.lb-item
	display: flex
	// flex-direction: column
	margin:
		bottom: 12px

.lb-left
	display: flex
	padding:
		top: 3px

.lb-right
	line-height: 1.3
	letter-spacing: 1.5px

.lb-num
	margin:
		right: 8px
	line-height: 20px
	height: 20px
	width: 20px
	text-align: center
	border-radius: 50%

.lb-num,
.lb-text,
.lb-right
	font:
		size: 1.25rem
// -----------------------------------
.lb-checkbox
	display: flex
	justify-content: center
	align-items: center
	margin:
		top: 30px
		bottom: 35px

.lb-quadrangle
	position: relative
	border:
		style: solid
		width: 1px
	width: 20px
	height: 20px
	margin:
		right: 10px
	.icon-check
		opacity: 0
		position: absolute
		top: -7px
		right: -10px

.lb-label
	display: flex
	align-items: center
	font-size: 1rem
	letter-spacing: 1.2px
	cursor: pointer

.lb-check:checked
	& + .lb-label
		.icon-check
			opacity: 1

// -----------------------------------
.lb-start
	font:
		size: 1.25rem
	line-height: 40px
	border-radius: 20px
	display: block
	width: 110px
	margin: 0 auto
	letter-spacing: 1.2px
	text-align: center
	cursor: pointer

// -----------------------------------
// -- final v
// -----------------------------------
.lb-final-img
	width: 450px
	margin: 0 auto 30px
	display: block

.lb-final-title
	text-align: center
	font:
		size: 1.125rem
	letter-spacing: 1px
	margin:
		bottom: 50px
	line-height: 1.5

.lb-final-box
	display: flex
	justify-content: center

.lb-final-item
	overflow: hidden
	border-radius: 12px
	width: 170px
	height: 170px
	display: flex
	justify-content: center
	align-items: center
	background:
		size: cover
		position: center center
	position: relative
	// filter: brightness(.5)
	&:after
		content: ''
		display: block
		width: 100%
		height: 100%
		position: absolute
		top: 0
		left: 0
	&:hover
		text:
			decoration: none
		.lb-final-text
			text:
				decoration: none
	& + .lb-final-item
		margin-left: 120px

.lb-final-text
	font:
		size: 1rem
		weight: bold
	text-align: center
	line-height: 25px
	height: 25px
	padding: 0 10px
	border-radius: 13px
	z-index: 1

.lb-final-art
	font-sizze: 1rem
	position: absolute
	width: 80%
	@extend %row1
	bottom: 30px
	z-index: 1

@media screen and (max-width: 1440px)
	$w3: 103px
	$w4: 122px
	$w5: 140px
	.lb-left
		&.is-t3
			width: $w3
			& + .lb-right
				width: calc( 100% - #{$w3})
		&.is-t4
			width: $w4
			& + .lb-right
				width: calc( 100% - #{$w4})
		&.is-t5
			width: $w5
			& + .lb-right
				width: calc( 100% - #{$w5})

@media screen and (min-width: 1441px)
	$w3: 115px
	$w4: 135px
	$w5: 155px
	.lb-left
		&.is-t3
			width: $w3
			& + .lb-right
				width: calc( 100% - #{$w3})
		&.is-t4
			width: $w4
			& + .lb-right
				width: calc( 100% - #{$w4})
		&.is-t5
			width: $w5
			& + .lb-right
				width: calc( 100% - #{$w5})