// _memobox.sass v
.memobox-del
	background-color: $c-t

.memobox:hover
	.memobox-text,.memobox-box:before
		background-color: $m-memo
	.memobox-box:after
		border-color: $m-memo2 $c-t $c-t

.memobox-bar
	background-color: $m-memo

.memobox-text
	background-color: $m-memo-t

.memobox-bottom
	&:before
		background-color: $m-memo-t
	&:after
		border-color: $m-memo2-t $c-t $c-t

.memobox-del,
.memobox-save
	border-color: $m-memo-text
	color: $m-memo-text
	&:hover
		background-color: $m-memo-text
		color: $m-memo

// _ex3.sass v
.s3-selected
	color: #2087ff!important

// _lb.sass v
.lb-mask,
.lb-mask-teach,
.lb-mask-final
	background-color: $c-dk-t

.lb-title,
.lb-text,
.lb-right,
.lb-label,
.lb-start,
.lb-final-title
	color: $c-w

.lb-num
	background-color: $c-w
	color: $c-black

.lb-quadrangle
	border-color: $c-w

.lb-final-text
	background-color: $c-w

.lb-final-art
	color: $c-w

.lb-final-item
	box-shadow: 0 0 15px rgba(0,0,0,.5)
	&:after
		background-color: $c-dk-t5