#stepBox
	height: 100vh
	&.is-step2
		#stepBlockBox
			left: -100%
	&.is-step3
		#stepBlockBox
			left: -200%

#stepBlockOuter
	width: 100%
	height: 100%
	overflow: hidden

#stepBlockBox
	width: 300%
	display: flex
	position: relative
	transition: left .5s
	left: 0

#stepBlock1, #stepBlock2, #stepBlock3
	position: relative
	user-select: none
	display: inline-block
	width: 33.333%
	padding:
		right: 1%
	height: calc( 100vh - 55px - 100px - 20px )
	&.is-lock
		overflow: hidden

#stepBlock1
	overflow-y: auto

#stepBlock2,#stepBlock3
	overflow: hidden

#stepBlock3


// ====================================
// == STEP 2 & STEP 3 SHARE
// ====================================
$fw: 110px
.share-title
	display: flex
	justify-content: center
	min-height: $th
	border-bottom: solid 3px #e7e7e7
	margin:
		bottom: $tmb
	background:
		color: #fff
	position: relative
	z-index: 1
	position: relative

.share-basic
	width: calc(100% - #{$fw})

.is-def
	.share-basic
		width: 100%

.share-title-text
	font:
		size: 2rem
		weight: bold
	text-align: center
	line-height: 1
	padding:
		top: 20px
		bottom: 8px

.share-title-percent,
.share-title-sub
	color: #4a4a4a
	text-align: center
	line-height: 1

.share-title-percent
	font:
		size: 1.5rem

.share-title-sub
	font:
		size: 1.125rem
	letter-spacing: 2px
	line-height: 1.3
	margin:
		bottom: 8px
// -----------------------------------
.s3-score
	width: $fw
	// position: absolute
	right: 0
	bottom: 0
	display: flex
	justify-content: flex-end
	align-items: flex-end
	&> *
		line-height: 1

.s3-score-num
	font:
		size: 3.75rem
		family: 'Engagement', cursive
		
.s3-score-ch
	font:
		size: 1.1875rem
	padding:
		left: 7px
		bottom: 10px
		
// -----------------------------------
// -- PRE / NEXT
// -----------------------------------
.share-pre,
.share-next
	display: flex
	align-items: center
	flex-direction: column
	font-size: 1rem
	letter-spacing: 2px
	cursor: pointer
	.icon-arrowleft
		display: inline-block
		width: 22px
		background:
			position: -4px 0

.share-pre
	margin:
		bottom: 100px
	.icon-arrowleft
		transform: rotate(90deg) scale(.8)

.share-next
	.icon-arrowleft
		margin:
			top: 5px
			left: -1px
		transform: scale
		transform: rotate(-90deg) scale(.8)