$max-width: 1770px
$min-width: 1280px
$gutter-top: 90px


// step 2 & 3
$th: 88px
$tmb: 20px
$hbtn: 50px

%s3en
	color: #444
	font:
		size: 1.375rem
	letter-spacing: 1.2px

// step3 ex1 & 3
$c-true: #005f40
$c-false: #d0021b

// ALL
$c-t: transparent
$c-w: #fff
//
$c-dk-t: rgba(0,0,0,.8)
$c-dk-t3: rgba(0,0,0,.3)
$c-dk-t5: rgba(0,0,0,.5)
//
$c-gray1: #4a4a4a
$c-gray2: #666
$c-gray3: #9b9b9b
$c-gray4: #bbb
$c-gray-fnbar: #979797
//
$c-black: #000
$c-breathe: #35e700
$c-blue: #036
$c-red: #d0021b

// SKIN 1 / MAGENTA	
$m-memo: #fffaa1
$m-memo-t: rgba(255, 250, 161, .85)
$m-memo-bar: #efeba1
$m-memo2: #d4c585
$m-memo2-t: rgba(212, 197, 133, .85)
$m-memo-text: #5e5321
//
$m-c1: #f74769
$m-c1-t: rgba(247, 71, 105, 0.2)
$m-light1: #fa91a5
$m-light2: #ff9eb1
$m-strong: #aa0102
//

// SKIN 2 / GREEN	
$g-memo: #fffaa1
$g-memo-t: rgba(255, 250, 161, .85)
$g-memo-bar: #efeba1
$g-memo2: #d4c585
$g-memo2-t: rgba(212, 197, 133, .85)
$g-memo-text: #5e5321
//
$g-c1: rgba(39,82,70,1)
$g-c1-t: rgba(39,82,70,.13)
$g-light2: #b8d2cb
$g-light1: rgba(39,82,70,.75)
$g-strong: #007d5a