$max-width: 1770px
$min-width: 1280px
$gutter-top: 90px


// step 2 & 3
$th: 88px
$tmb: 20px
$hbtn: 50px

%s3en
	color: #444
	font:
		size: 1.375rem
	letter-spacing: 1.2px

// step3 ex1 & 3
$c-true: #005f40
$c-false: #d0021b

// ALL
$c-breathe: #35e700
$c-t: transparent
$c-w: #fff
$c-dk-t: rgba(0,0,0,.8)
$c-dk-t3: rgba(0,0,0,.3)
$c-dk-t5: rgba(0,0,0,.5)
$c-gray1: #4a4a4a
$c-gray2: #666
$c-gray-fnbar: #979797
$c-black: #000
$c-blue: #036
$c-red: #d0021b
$c-memobox-sd: #5e5321

// SKIN 1 / MAGENTA	
$m-c1: #f74769
$m-c1-t: rgba(247, 71, 105, 0.2)
$m-c1-l: #fa91a5
$m-c1-2: #ff2c55
$m-c2: #cf3b57
$m-c3: #fffaa1
$m-c3-t: rgba(255, 250, 161, .85)
$m-c3-bar: #efeba1
$m-c4: #d4c585
$m-c4-t: rgba(212, 197, 133, .85)
$m-c5: #35e700
$m-c6: #fa7e91
$m-c7: #9b9b9b
$m-c-art-strong: #aa0102
$m-c-art-muted: #bbb
$m-c-art-hover: #fa7e96