//-.s2-record
	.s2-record-item.is-r-start
		.icon-record-start
		|錄音
	.s2-record-item.is-r-ing
		.icon-recording
		|0:01
	.s2-record-item.is-r-play
		.icon-record-play
		|播放
	.s2-record-item.is-r-re
		.icon-record-re
		|重錄
.s2-record
	.s2-record-item.is-small
		.icon-org-play
		span.is-off 播放原音
		span.is-on 停止
	.s2-record-item
		.icon-rec-start
		span.is-off 錄音
		span.is-on 1:30
	.s2-record-item.is-small
.s2-record
	.s2-record-item.is-small
		.icon-org-play
		span.is-off 播放原音
		span.is-on 停止
	.s2-record-item
		.icon-rec-play
		span.is-off 播放錄音
		span.is-on 停止
	.s2-record-item.is-small
		.icon-rec-re
		span.is-off 重錄
