.s2-record
	.s2-record-item.is-r-start
		.icon-record-start
		|錄音
	.s2-record-item.is-r-ing
		.icon-recording
		|0:01
	.s2-record-item.is-r-play
		.icon-record-play
		|播放
	.s2-record-item.is-r-re
		.icon-record-re
		|重錄