#ex2(data-value='0').is-def
	.share-title
		.share-basic
			.share-title-text 聽力測驗
			.share-title-sub 利用滑鼠點擊喇叭播放音擋，試著將隱藏的單字拼出來，快速檢視自己的聽力及字彙能力。
		.s3-score
			.s3-score-num 87
			.s3-score-ch 分
	.s3ex2-main
		.s3-en Military Purchases Electric Cars from Tesla
		.s3-en 
			|In response to the latest energy policy, the Ministry of Defense has started to 
			.s3ex2-iptbox
				span (1).
				span r
				input(type='text' placeholder='*****')
				span e
			.s3-ansbox
				//- span.s3-false false
				span.s3-true rightAnser
			| current administrative vehicles with electric ones, and they are setting up charging stations at military bases. All 
			.s3ex2-iptbox
				span (2).
				span t
				input(type='text' placeholder='*****')
				span s
			.s3-ansbox
				//- span.s3-false false
				span.s3-true rightAnser
			| were taken by Tesla Taiwan as it was the only bidder. 
		.s3-en 
			|In November, many units from the Ministry of Defense issued tender documents for adopting electric vehicles. Although many auto manufacturers have launched their own electric car models, Tesla was the only bidder. As a result, the Ministry will purchase five vehicles in total from Tesla for administrative use. It is 
			.s3ex2-iptbox
				span (3).
				span e
				input(type='text' placeholder='*******')
				span d
			.s3-ansbox
				span.s3-false falseAnswer
				span.s3-true trueAnswer
			| that the cars will be delivered and that the charging stations will be set up by the end of this month. Since military drivers have never
			.s3ex2-iptbox
				span (4).
				span d
				input(type='text' placeholder='****')
				span n
			.s3-ansbox
				//- span.s3-false false
				span.s3-true rightAnser
			| Tesla cars before, it will take a while for them to get used to some of the new features, such as autopilot. 
		.s3-en 
			|As the demand for electric cars has been growing steadily, they have become the future stars of the car industry. As the front-runner in the industry, Tesla and its technologies will make a 
			.s3ex2-iptbox
				span (5).
				span s
				input(type='text' placeholder='*********')
				span t 
			.s3-ansbox
				//- span.s3-false false
				span.s3-true rightAnser
			|difference in the foreseeable future. 

	.s3ex2-submitbox
		a.s3-submit(href='#') 送出
	.share-next
		| 前往克漏字測驗
		.icon-arrowleft