#EX3(data-value='0').is-def
	.share-title
		.share-title-text 克漏字測驗
		.share-title-sub 想增進介系詞與片語能力嗎？依照題號順序，點選右方最適合的答案，完成後，即可獲得解答與分數。
		.s3-score
			.s3-score-num 100
			.s3-score-ch 分
	.s3ex3-main
		.s3ex3-left
			.s3-en Military Purchases Electric Cars from Tesla
			.s3-en 
				|In response to the latest energy policy, the Ministry of Defense has started to 
				.s3ex3-ipt
					|&nbsp(1)&nbsp
				.s3-ansbox
					//- span.s3-false false
					span.s3-true rightAnser
				| current administrative vehicles with electric ones, and they are setting up charging stations at military bases. All 
				.s3ex3-ipt
					|&nbsp(2)&nbsp
				.s3-ansbox
					//- span.s3-false false
					span.s3-true rightAnser
				| were taken by Tesla Taiwan as it was the only bidder. 
			.s3-en 
				|In November, many units from the Ministry of Defense issued tender documents for adopting electric vehicles. Although many auto manufacturers have launched their own electric car models, Tesla was the only bidder. As a result, the Ministry will purchase five vehicles in total from Tesla for administrative use. It is 
				.s3ex3-ipt
					|&nbsp(3)&nbsp
				.s3-ansbox
					span.s3-false falseAnswer
					span.s3-true trueAnswer
				| that the cars will be delivered and that the charging stations will be set up by the end of this month. Since military drivers have never
				.s3ex3-ipt
					|&nbsp(4)&nbsp
				.s3-ansbox
					//- span.s3-false false
					span.s3-true rightAnser
				| Tesla cars before, it will take a while for them to get used to some of the new features, such as autopilot. 
			.s3-en 
				|As the demand for electric cars has been growing steadily, they have become the future stars of the car industry. As the front-runner in the industry, Tesla and its technologies will make a 
				.s3ex3-ipt
					|&nbsp(5)&nbsp
				.s3-ansbox
					//- span.s3-false false
					span.s3-true rightAnser
				|difference in the foreseeable future. 

		.s3ex3-right
			.s3ex3-right-title Answer
			.s3ex3-right-ansbox
				.s3ex3-right-item
					span an
					span (3)
				.s3ex3-right-item
					span unless
					span (1)
				.s3ex3-right-item
					span blame
					span 
				.s3ex3-right-item
					span than
					span (2)
				.s3ex3-right-item
					span to
					span 
			.s3ex3-submitbox
				a.s3-reset(href) Reset
				a.s3-submit(href='#') Submit
	.share-next(style='display: none;')
		| (none)
		.icon-arrowleft