#EX1(data-value='0').is-def
	.share-title
		.share-title-text 理解力測驗
		.share-title-sub 確實瞭解文章內容嗎？依照內容依序回答下列問題吧！
		.s3-score
			.s3-score-num 51
			.s3-score-ch 分
	.s3ex1-main
		//- 1
		.s3ex1-box
			.s3ex1-item.is-title
				.s3ex1-item-l
					.s3ex1-icon
				.s3ex1-item-m
					|1.
				.s3ex1-item-r
					.s3ex1-item-en
						|According to the article, why will there be a “baby bear” market in bonds next year?
					.s3ex1-item-ch 根據本文，為何明年債券市場將出現「小熊市」？
			.s3ex1-item.is-true
				.s3ex1-item-l
					.s3ex1-icon
				.s3ex1-item-m
					input#answer0-1(name='answer0' type='radio' value='1' checked)
					label(for='answer0-1')
						.s3ex1-check
				.s3ex1-item-r
					.s3ex1-item-en
						|(A)Because global inflation will reach a record high level
					.s3ex1-item-ch 因為全球通膨將創新高
			.s3ex1-item
				.s3ex1-item-l
					.s3ex1-icon
				.s3ex1-item-m
					input#answer0-2(name='answer0' type='radio' value='2')
					label(for='answer0-2')
						.s3ex1-check
				.s3ex1-item-r
					.s3ex1-item-en
						|(B)Because the Fed will probably not change its monetary policy
					.s3ex1-item-ch 因為聯準會很可能不會改變貨幣政策
			.s3ex1-item
				.s3ex1-item-l
					.s3ex1-icon
				.s3ex1-item-m
					input#answer0-3(name='answer0' type='radio' value='3')
					label(for='answer0-3')
						.s3ex1-check
				.s3ex1-item-r
					.s3ex1-item-en
						|(C)Because the Fed will raise interest rates in the second half of 2020 
					.s3ex1-item-ch 因為聯準會在2020年下半年會升息
			.s3ex1-item
				.s3ex1-item-l
					.s3ex1-icon
				.s3ex1-item-m
					input#answer0-4(name='answer0' type='radio' value='4')
					label(for='answer0-4')
						.s3ex1-check
				.s3ex1-item-r
					.s3ex1-item-en
						|(D)All of the above
					.s3ex1-item-ch 以上皆是
		//- 2
		.s3ex1-box
			.s3ex1-item.is-title
				.s3ex1-item-l
					.s3ex1-icon
				.s3ex1-item-m
					|2.
				.s3ex1-item-r
					.s3ex1-item-en
						|Which of the following words is closest in meaning to the word “cautiously” in the article?
					.s3ex1-item-ch 下列哪一個字最接近文中「cautiously」這個字的意思？
			.s3ex1-item
				.s3ex1-item-l
					.s3ex1-icon
				.s3ex1-item-m
					input#answer1-1(name='answer1' type='radio' value='1')
					label(for='answer1-1')
						.s3ex1-check
				.s3ex1-item-r
					.s3ex1-item-en
						|(A)carefully 
					.s3ex1-item-ch 小心翼翼地
			.s3ex1-item.is-false
				.s3ex1-item-l
					.s3ex1-icon
				.s3ex1-item-m
					input#answer1-2(name='answer1' type='radio' value='2' checked)
					label(for='answer1-2')
						.s3ex1-check
				.s3ex1-item-r
					.s3ex1-item-en
						|(B)narrowly 
					.s3ex1-item-ch 勉強地
			.s3ex1-item
				.s3ex1-item-l
					.s3ex1-icon
				.s3ex1-item-m
					input#answer1-3(name='answer1' type='radio' value='3')
					label(for='answer1-3')
						.s3ex1-check
				.s3ex1-item-r
					.s3ex1-item-en
						|(C)previously 
					.s3ex1-item-ch 之前
			.s3ex1-item
				.s3ex1-item-l
					.s3ex1-icon
				.s3ex1-item-m
					input#answer1-4(name='answer1' type='radio' value='4')
					label(for='answer1-4')
						.s3ex1-check
				.s3ex1-item-r
					.s3ex1-item-en
						|(D)surprisingly 
					.s3ex1-item-ch 令人驚訝地
	.s3ex1-submitbox
		a.s3-submit(href='#') 送出
	.share-next
		| 前往理解力測驗
		.icon-arrowleft