#EX1.RightContent2(data-value='0')
	.share-title
		.share-title-text &#x7406;&#x89E3;&#x529B;&#x6E2C;&#x9A57;
		.share-title-sub &#x78BA;&#x5BE6;&#x77AD;&#x89E3;&#x6587;&#x7AE0;&#x5167;&#x5BB9;&#x55CE;&#xFF1F;&#x4F9D;&#x7167;&#x6587;&#x7AE0;&#x5167;&#x5BB9;&#x4F9D;&#x5E8F;&#x56DE;&#x7B54;&#x4E0B;&#x5217;&#x554F;&#x984C;&#x5427;&#xFF01;
		.s3-record 
			.s3-record-num 199
			.s3-record-ch 分
	.s3-main
		//- 1
		.s3-box
			.s3-item.is-title
				.s3-item-l
				.s3-item-m
					|1.
				.s3-item-r
					.s3-item-en
						|According to the article, why will there be a “baby bear” market in bonds next year?
					.s3-item-ch 根據本文，為何明年債券市場將出現「小熊市」？
			.s3-item.is-true
				.s3-item-l
					.icon-del-c
				.s3-item-m
					input#answer0-1(name='answer0' type='radio' value='1' checked)
					label(for='answer0-1')
						.s3-ex1-check
				.s3-item-r
					.s3-item-en
						|(A)Because global inflation will reach a record high level
					.s3-item-ch 因為全球通膨將創新高
			.s3-item
				.s3-item-l
				.s3-item-m
					input#answer0-2(name='answer0' type='radio' value='2')
					label(for='answer0-2')
						.s3-ex1-check
				.s3-item-r
					.s3-item-en
						|(B)Because the Fed will probably not change its monetary policy
					.s3-item-ch 因為聯準會很可能不會改變貨幣政策
			.s3-item
				.s3-item-l
				.s3-item-m
					input#answer0-3(name='answer0' type='radio' value='3')
					label(for='answer0-3')
						.s3-ex1-check
				.s3-item-r
					.s3-item-en
						|(C)Because the Fed will raise interest rates in the second half of 2020 
					.s3-item-ch 因為聯準會在2020年下半年會升息
			.s3-item
				.s3-item-l
				.s3-item-m
					input#answer0-4(name='answer0' type='radio' value='4')
					label(for='answer0-4')
						.s3-ex1-check
				.s3-item-r
					.s3-item-en
						|(D)All of the above
					.s3-item-ch 以上皆是
		//- 2
		.s3-box
			.s3-item
				.s3-item-l
				.s3-item-m
					|2.
				.s3-item-r
					.s3-item-en
						|Which of the following words is closest in meaning to the word “cautiously” in the article?
					.s3-item-ch 下列哪一個字最接近文中「cautiously」這個字的意思？
			.s3-item
				.s3-item-l
				.s3-item-m
					input#answer1-1(name='answer1' type='radio' value='1')
					label(for='answer1-1')
						.s3-ex1-check
				.s3-item-r
					.s3-item-en
						|(A)carefully 
					.s3-item-ch 小心翼翼地
			.s3-item.is-false
				.s3-item-l
					.icon-correct
				.s3-item-m
					input#answer1-2(name='answer1' type='radio' value='2' checked)
					label(for='answer1-2')
						.s3-ex1-check
				.s3-item-r
					.s3-item-en
						|(B)narrowly 
					.s3-item-ch 勉強地
			.s3-item
				.s3-item-l
				.s3-item-m
					input#answer1-3(name='answer1' type='radio' value='3')
					label(for='answer1-3')
						.s3-ex1-check
				.s3-item-r
					.s3-item-en
						|(C)previously 
					.s3-item-ch 之前
			.s3-item
				.s3-item-l
				.s3-item-m
					input#answer1-4(name='answer1' type='radio' value='4')
					label(for='answer1-4')
						.s3-ex1-check
				.s3-item-r
					.s3-item-en
						|(D)surprisingly 
					.s3-item-ch 令人驚訝地
	div(style='position:relative;margin: 0 auto;width:100%;height:50px;')
	.NextEX.link(onclick='EXChange(2)') 前往聽力測驗
	.Arrow_icon2.Rota270.link(onclick='EXChange(2)')
	div(style='position:relative;margin: 0 auto;width:100%;height:50px;')
