.colbox
	.colbox-prefix T
	.colbox-item
		.colbox-abovebox
			.colbox-abovebox-text transparent
			a.colbox-abovebox-del.icon-del-c(href='#')
		.colbox-underbox
			.colbox-underbox-memo 學員的筆記寫在這
			.colbox-underbox-placeholder 輸入中文解釋
			.colbox-underbox-editbox
				input.colbox-underbox-input(type='text')
				a.colbox-underbox-ok(href='#') 確定


	.colbox-item
		.colbox-abovebox
			.colbox-abovebox-text teacher
			a.colbox-abovebox-del.icon-del-c(href='#')
		.colbox-underbox
			.colbox-underbox-memo 
			.colbox-underbox-placeholder 輸入中文解釋
			.colbox-underbox-editbox
				input.colbox-underbox-input(type='text')
				a.colbox-underbox-ok(href='#') 確定

	.colbox-item
		.colbox-abovebox
			.colbox-abovebox-text ticket
			a.colbox-abovebox-del.icon-del-c(href='#')
		.colbox-underbox
			.colbox-underbox-memo 學員的 ticket 筆記寫在這
			.colbox-underbox-placeholder 輸入中文解釋
			.colbox-underbox-editbox
				input.colbox-underbox-input(type='text')
				a.colbox-underbox-ok(href='#') 確定
	
