|Islamic State Leader Abu Bakr al-Baghdadi Dies in US Raid 
br
|伊斯蘭國領導人遭美獵殺
br
|US President Donald Trump announced on Sunday that Islamic State leader Abu Bakr al-Baghdadi was killed during a US-led raid in Northwest Syria.  
br
|美國總統川普週日宣布，伊斯蘭國領導人巴格達迪已在美軍領導的對敘利亞西北部的突襲中遭到殺害。
br
|In a televised address from the White House, Trump described the operation as a joint effort between the US, Russia, and the Kurdish-led Syrian Democratic Forces.  
br
|川普於白宮發表電視講話，表示這次突擊為美國、俄羅斯和庫德族人領導的「敘利亞民主力量」軍事聯盟一起派兵行動。
br
|On Saturday night, acting on a tip provided by Kurdish allies, the US military sent eight helicopters to fly the US raiding party through Russia-controlled airspace to the compound where Baghdadi was hiding.  
br
|美國軍方根據「敘利亞民主力量」提供的線報，於週六晚上派出八架直升機，穿過俄羅斯領空，將美軍突擊隊帶到巴格達迪躲藏的基地。
br
|As helicopters were landing, the troops came under gunfire, but they managed to clear the compound quickly, with Islamic State militants either surrendering or being shot to death.  
br
|直升機降落時，部隊遭到槍擊，但他們設法迅速清除了巴格達迪躲藏的基地，伊斯蘭國激進份子紛紛投降或被射殺身亡。
br
|After US soldiers blasted their way through the walls of his hideout, Baghdadi retreated into a tunnel with three of his children.  
br
|美軍士兵炸開巴格達迪的藏身處時，他與他的三個孩子退入一條地道，
br
|He then detonated his suicide vest and met his end.  
br
|巴格達迪接著在隧道內引爆自殺炸彈背心，結束生命，
br
|A DNA test was immediately conducted on his mutilated body, thereby confirming his identity.  
br
|隨後軍方對他的屍骸進行了DNA測試，從而證實了他的身份。
br
|Baghdadi’s death could be a significant help to Trump.  
br
|巴格達迪自爆死亡可能對川普總統有相當大的幫助，
br
|His recent decision to withdraw US troops from northeastern Syria drew criticism from many Americans, who believe the move could create a power vacuum that would allow the jihadist group to recover and threaten American interests.  
br
|川普最近決定從敘利亞東北部撤軍，引起了許多美國人的批評，他們認為撤軍會造成權力真空，將使伊斯蘭國得以重啟崛起，威脅美國利益，
br
|Now that Baghdadi is dead, such concerns may be eased.  
br
|如今巴格達迪已去世，也較無這方面的疑慮。
br
|However, analysts have cautioned that it is too early to be optimistic.  
br
|然而，分析師警告不要過於樂觀，
br
|Hisham al-Hashemi, an Iraqi historian and researcher specializing in security, strategic affairs and extremist groups, said Baghdadi’s death could lead to a split, and therefore a new leader within the Islamic State. This always happens when a radical religious group loses a charismatic leader, he said.  
br
|伊拉克歷史學家、專精戰略與極端組織的研究者哈賽米表示，巴格達迪的去世可能導致伊斯蘭國內部分裂，從而產生新的領導人，哈賽米指出當激進宗教團體失去精神領袖時，常會發生這種情況。