span
	| episode (n.)
	br
	|  事件、一段經歷
|  Boeing engineers are hoping to quickly put the episode behind them.
br
|  波音工程師正希望能趕快將這段插曲拋在腦後。
p
span
	| trauma (n.)
	br
	|  精神創傷、心理創傷
|  If you are dissatisfied with the service, why dont you complain to the hotel manager?
br
|  如果你對飯店的服務不滿意，爲甚麽不去向經理投訴呢？
p
span
	| confront (v.)
	br
	|  面對、直面、正視
|  The experiments were conducted by scientists in New York.
br
|  這些實驗是科學家在紐約做的。
p
span
	| significance (n.)
	br
	|  意義、重要性
|  Unions accuse the government of dismantling the National Health Service.
br
|  工會指責政府企圖破壞國民保健制度。
p
span
	| launch (v.)
	br
	|  發射
|  North Korea launched a ballistic missile over Northern Japan.
br
|  北韓發射了一枚飛彈到日本北邊區域。
