a#N0(name='0')
#t0.english
	.art-star
		.icon-star
	.art-art
		| (
		span(onclick='DrDate("Science");') Science
		| ) 
		span(onclick='DrDate("Earth");') Earth
		span(onclick='DrDate("is");') is
		span(onclick='DrDate("Surrounded");') Surrounded
		span(onclick='DrDate("by");') by
		span(onclick='DrDate("Space");') Space
		span(onclick='DrDate("Junk");') Junk
		| ! 
		input.read_btn.link(type='button', onclick='playC(0);')
#bubble0.annotation(style='display:none;')
#ct0.Chinese (科學) 地球被太空垃圾所圍繞
a#N1(name='1')
#t1.english
	.art-star
		.icon-star
	.art-art
		span(onclick='DrDate("Since");') Since
		span(onclick='DrDate("the");') the
		span(onclick='DrDate("dawn");') dawn
		span(onclick='DrDate("of");') of
		span(onclick='DrDate("the");') the
		span(onclick='DrDate("space");') space
		span(onclick='DrDate("aged");') aged
		span(onclick='DrDate("54");') 54
		span(onclick='DrDate("years");') years
		span(onclick='DrDate("ago");') ago
		| , 
		span(onclick='DrDate("humans");') humans
		span(onclick='DrDate("have");') have
		span(onclick='DrDate("been");') been
		span(onclick='DrDate("littering");') littering
		span(onclick='DrDate("space");') space
		span(onclick='DrDate("with");') with
		span(onclick='DrDate("artifacts");') artifacts
		span(onclick='DrDate("from");') from
		span(onclick='DrDate("their");') their
		span(onclick='DrDate("spacecraft");') spacecraft
		| , 
		span(onclick='DrDate("satellites");') satellites
		| , 
		span(onclick='DrDate("telescopes");') telescopes
		| , 
		span(onclick='DrDate("and");') and
		span(onclick='DrDate("other");') other
		span(onclick='DrDate("items");') items
		span(onclick='DrDate("that");') that
		span(onclick='DrDate("end");') end
		span(onclick='DrDate("up");') up
		span(onclick='DrDate("floating");') floating
		span(onclick='DrDate("around");') around
		span(onclick='DrDate("the");') the
		span(onclick='DrDate("Earth");') Earth
		span(onclick='DrDate("in");') in
		span(onclick='DrDate("a");') a
		span(onclick='DrDate("swarm");') swarm
		span(onclick='DrDate("that");') that
		span(onclick='DrDate("scientists");') scientists
		span(onclick='DrDate("are");') are
		span(onclick='DrDate("calling");') calling
		|  “
		span(onclick='DrDate("space");') space
		span(onclick='DrDate("junk");') junk
		| ”. 
		span(onclick='DrDate("");')
		input.read_btn.link(type='button', onclick='playC(1);')
#bubble1.annotation(style='display:none;')
#ct1.Chinese 自從五十四年前開始探索太空，人類已經丟棄了很多來自太空船、衛星、望遠鏡和其他太空設備的人造垃圾，而這些東西最終成群地圍繞著地球，被科學家稱為「太空垃圾」。
a#N2(name='2')
#t2.english
	.art-star
		.icon-star
	.art-art
		span(onclick='DrDate("The");') The
		span(onclick='DrDate("problem");') problem
		span(onclick='DrDate("with");') with
		span(onclick='DrDate("all");') all
		span(onclick='DrDate("this");') this
		span(onclick='DrDate("junk");') junk
		span(onclick='DrDate("up");') up
		span(onclick='DrDate("in");') in
		span(onclick='DrDate("space");') space
		span(onclick='DrDate("is");') is
		span(onclick='DrDate("that");') that
		span(onclick='DrDate("the");') the
		span(onclick='DrDate("debris");') debris
		span(onclick='DrDate("can");') can
		span(onclick='DrDate("cause");') cause
		span(onclick='DrDate("problems");') problems
		span(onclick='DrDate("for");') for
		span(onclick='DrDate("new");') new
		span(onclick='DrDate("machines");') machines
		span(onclick='DrDate("sent");') sent
		span(onclick='DrDate("into");') into
		span(onclick='DrDate("orbit");') orbit
		| , 
		span(onclick='DrDate("as");') as
		span(onclick='DrDate("well");') well
		span(onclick='DrDate("as");') as
		span(onclick='DrDate("for");') for
		span(onclick='DrDate("shuttles");') shuttles
		span(onclick='DrDate("carrying");') carrying
		span(onclick='DrDate("humans");') humans
		span(onclick='DrDate("andor");') and/or
		span(onclick='DrDate("robots");') robots
		| . 
		span(onclick='DrDate("");')
		input.read_btn.link(type='button', onclick='playC(2);')
#bubble2.annotation(style='display:none;')
#ct2.Chinese 這個太空充滿著垃圾的問題，在於這些碎片可能會對新送進軌道的機器以及載著人類或機器人的太空梭帶來問題。
a#N3(name='3')
#t3.english
	.art-star
		.icon-star
	.art-art
		span(onclick='DrDate("Even");') Even
		span(onclick='DrDate("small");') small
		span(onclick='DrDate("damage");') damage
		span(onclick='DrDate("caused");') caused
		span(onclick='DrDate("to");') to
		span(onclick='DrDate("any");') any
		span(onclick='DrDate("of");') of
		span(onclick='DrDate("these");') these
		span(onclick='DrDate("craft");') craft
		span(onclick='DrDate("can");') can
		span(onclick='DrDate("cost");') cost
		span(onclick='DrDate("hundreds");') hundreds
		span(onclick='DrDate("of");') of
		span(onclick='DrDate("thousands");') thousands
		| , 
		span(onclick='DrDate("if");') if
		span(onclick='DrDate("not");') not
		span(onclick='DrDate("millions");') millions
		| , 
		span(onclick='DrDate("of");') of
		span(onclick='DrDate("dollars");') dollars
		| , 
		span(onclick='DrDate("not");') not
		span(onclick='DrDate("to");') to
		span(onclick='DrDate("mention");') mention
		span(onclick='DrDate("interruptions");') interruptions
		span(onclick='DrDate("in");') in
		span(onclick='DrDate("communication");') communication
		span(onclick='DrDate("and");') and
		span(onclick='DrDate("other");') other
		span(onclick='DrDate("signals");') signals
		span(onclick='DrDate("that");') that
		span(onclick='DrDate("are");') are
		span(onclick='DrDate("sent");') sent
		span(onclick='DrDate("to");') to
		span(onclick='DrDate("Earth");') Earth
		span(onclick='DrDate("from");') from
		span(onclick='DrDate("our");') our
		span(onclick='DrDate("orbiting");') orbiting
		span(onclick='DrDate("machines");') machines
		| . 
		span(onclick='DrDate("");')
		input.read_btn.link(type='button', onclick='playC(3);')
#bubble3.annotation(style='display:none;')
#ct3.Chinese 甚至一點小破壞就會造成這些太空船即使不到百萬也要好幾十萬的損失，更不用提干擾繞行軌道的機器所發送到地球的通訊和其他信號。
a#N4(name='4')
#t4.english
	.art-star
		.icon-star
	.art-art
		span(onclick='DrDate("Scientists");') Scientists
		span(onclick='DrDate("arent");') aren’t
		span(onclick='DrDate("yet");') yet
		span(onclick='DrDate("sure");') sure
		span(onclick='DrDate("how");') how
		span(onclick='DrDate("to");') to
		span(onclick='DrDate("clean");') clean
		span(onclick='DrDate("up");') up
		span(onclick='DrDate("all");') all
		span(onclick='DrDate("this");') this
		span(onclick='DrDate("space");') space
		span(onclick='DrDate("junk");') junk
		| . 
		span(onclick='DrDate("");')
		input.read_btn.link(type='button', onclick='playC(4);')
#bubble4.annotation(style='display:none;')
#ct4.Chinese 科學家們還不確定該如何清理這些太空垃圾。
a#N5(name='5')
#t5.english
	.art-star
		.icon-star
	.art-art
		span(onclick='DrDate("Ideas");') Ideas
		span(onclick='DrDate("such");') such
		span(onclick='DrDate("as");') as
		span(onclick='DrDate("nets");') nets
		| , 
		span(onclick='DrDate("bowls");') bowls
		| , 
		span(onclick='DrDate("funnels");') funnels
		| , 
		span(onclick='DrDate("magnets");') magnets
		| , 
		span(onclick='DrDate("and");') and
		span(onclick='DrDate("automatic");') automatic
		span(onclick='DrDate("robots");') robots
		span(onclick='DrDate("have");') have
		span(onclick='DrDate("all");') all
		span(onclick='DrDate("been");') been
		span(onclick='DrDate("suggested");') suggested
		span(onclick='DrDate("and");') and
		span(onclick='DrDate("are");') are
		span(onclick='DrDate("now");') now
		span(onclick='DrDate("being");') being
		span(onclick='DrDate("researched");') researched
		span(onclick='DrDate("or");') or
		span(onclick='DrDate("tested");') tested
		| . 
		input.read_btn.link(type='button', onclick='playC(5);')
#bubble5.annotation(style='display:none;')
#ct5.Chinese 例如網子、碗、漏斗、磁鐵和自動機器人的想法都曾被建議過，目前也正在進行研究和測試。
a#N6(name='6')
#t6.english
	.art-star
		.icon-star
	.art-art
		span(onclick='DrDate("Dialogue");') Dialogue
		span(onclick='DrDate("Example");') Example
		span(onclick='DrDate("");')
		input.read_btn.link(type='button', onclick='playC(6);')
#bubble6.annotation(style='display:none;')
#ct6.Chinese 對話範例：
a#N7(name='7')
#t7.english
	.art-star
		.icon-star
	.art-art
		| (
		span(onclick='DrDate("Space");') Space
		span(onclick='DrDate("Junk");') Junk
		| ) 
		span(onclick='DrDate("Jeremy");') Jeremy
		span(onclick='DrDate("and");') and
		span(onclick='DrDate("Sandra");') Sandra
		span(onclick='DrDate("are");') are
		span(onclick='DrDate("a");') a
		span(onclick='DrDate("couple");') couple
		| . 
		span(onclick='DrDate("The");') The
		span(onclick='DrDate("pair");') pair
		span(onclick='DrDate("is");') is
		span(onclick='DrDate("out");') out
		span(onclick='DrDate("on");') on
		span(onclick='DrDate("a");') a
		span(onclick='DrDate("date");') date
		span(onclick='DrDate("and");') and
		span(onclick='DrDate("are");') are
		span(onclick='DrDate("looking");') looking
		span(onclick='DrDate("at");') at
		span(onclick='DrDate("the");') the
		span(onclick='DrDate("starsLets");') stars.Let’s
		span(onclick='DrDate("listen");') listen
		span(onclick='DrDate("to");') to
		span(onclick='DrDate("their");') their
		span(onclick='DrDate("conversation");') conversation
		| . 
		input.read_btn.link(type='button', onclick='playC(7);')
#bubble7.annotation(style='display:none;')
#ct7.Chinese (太空垃圾) 傑若米和姍德拉是一對情侶。他們在外頭約會並正在賞星。我們來聽聽他們的對話吧。
a#N8(name='8')
#t8.english
	.art-star
		.icon-star
	.art-art
		span(onclick='DrDate("Sandra");') Sandra
		| : 
		span(onclick='DrDate("Wow");') Wow
		| , 
		span(onclick='DrDate("you");') you
		span(onclick='DrDate("can");') can
		span(onclick='DrDate("see");') see
		span(onclick='DrDate("so");') so
		span(onclick='DrDate("many");') many
		span(onclick='DrDate("stars");') stars
		span(onclick='DrDate("up");') up
		span(onclick='DrDate("here");') here
		| . 
		span(onclick='DrDate("This");') This
		span(onclick='DrDate("is");') is
		span(onclick='DrDate("beautiful");') beautiful
		| ! 
		span(onclick='DrDate("");')
		input.read_btn.link(type='button', onclick='playC(8);')
#bubble8.annotation(style='display:none;')
#ct8.Chinese 姍德拉：哇，你可以在這裡看見好多星星喔。真是美麗！
a#N9(name='9')
#t9.english
	.art-star
		.icon-star
	.art-art
		span(onclick='DrDate("Jeremy");') Jeremy
		| : 
		span(onclick='DrDate("I");') I
		span(onclick='DrDate("knew");') knew
		span(onclick='DrDate("youd");') you’d
		span(onclick='DrDate("like");') like
		span(onclick='DrDate("it");') it
		| . 
		span(onclick='DrDate("Its");') It’s
		span(onclick='DrDate("very");') very
		span(onclick='DrDate("peaceful");') peaceful
		| . 
		span(onclick='DrDate("");')
		input.read_btn.link(type='button', onclick='playC(9);')
#bubble9.annotation(style='display:none;')
#ct9.Chinese 傑若米：我就知道妳喜歡。這一切感覺很平靜。
a#N10(name='10')
#t10.english
	.art-star
		.icon-star
	.art-art
		span(onclick='DrDate("Sandra");') Sandra
		| : 
		span(onclick='DrDate("Oh");') Oh
		| , 
		span(onclick='DrDate("look");') look
		| ! 
		span(onclick='DrDate("A");') A
		span(onclick='DrDate("shooting");') shooting
		span(onclick='DrDate("star");') star
		| ! 
		span(onclick='DrDate("Make");') Make
		span(onclick='DrDate("a");') a
		span(onclick='DrDate("wish");') wish
		| ! 
		span(onclick='DrDate("");')
		input.read_btn.link(type='button', onclick='playC(10);')
#bubble10.annotation(style='display:none;')
#ct10.Chinese 姍德拉：噢，你看！一顆流星！快許個願！
a#N11(name='11')
#t11.english
	.art-star
		.icon-star
	.art-art
		span(onclick='DrDate("Jeremy");') Jeremy
		| : 
		span(onclick='DrDate("Are");') Are
		span(onclick='DrDate("you");') you
		span(onclick='DrDate("sure");') sure
		span(onclick='DrDate("thats");') that’s
		span(onclick='DrDate("a");') a
		span(onclick='DrDate("shooting");') shooting
		span(onclick='DrDate("star");') star
		| ? 
		span(onclick='DrDate("I");') I
		span(onclick='DrDate("thought");') thought
		span(onclick='DrDate("they");') they
		span(onclick='DrDate("went");') went
		span(onclick='DrDate("kind");') kind
		span(onclick='DrDate("of");') of
		span(onclick='DrDate("fast");') fast
		| . 
		span(onclick='DrDate("This");') This
		span(onclick='DrDate("ones");') one’s
		span(onclick='DrDate("just");') just
		span(onclick='DrDate("drifting");') drifting
		span(onclick='DrDate("through");') through
		span(onclick='DrDate("the");') the
		span(onclick='DrDate("sky");') sky
		| . 
		span(onclick='DrDate("");')
		input.read_btn.link(type='button', onclick='playC(11);')
#bubble11.annotation(style='display:none;')
#ct11.Chinese 傑若米：妳確定那顆是流星嗎？我覺得流星飛得很快。可是這顆只是在空中漂移。
a#N12(name='12')
#t12.english
	.art-star
		.icon-star
	.art-art
		span(onclick='DrDate("Sandra");') Sandra
		| : 
		span(onclick='DrDate("Hmm");') Hmm
		| , 
		span(onclick='DrDate("youre");') you’re
		span(onclick='DrDate("right");') right
		| . 
		span(onclick='DrDate("I");') I
		span(onclick='DrDate("bet");') bet
		span(onclick='DrDate("its");') it’s
		span(onclick='DrDate("actually");') actually
		span(onclick='DrDate("a");') a
		span(onclick='DrDate("satellite");') satellite
		span(onclick='DrDate("or");') or
		span(onclick='DrDate("something");') something
		| . 
		span(onclick='DrDate("Actually");') Actually
		| , 
		span(onclick='DrDate("I");') I
		span(onclick='DrDate("can");') can
		span(onclick='DrDate("see");') see
		span(onclick='DrDate("quite");') quite
		span(onclick='DrDate("a");') a
		span(onclick='DrDate("few");') few
		span(onclick='DrDate("of");') of
		span(onclick='DrDate("them");') them
		| . 
		span(onclick='DrDate("I");') I
		span(onclick='DrDate("wonder");') wonder
		span(onclick='DrDate("how");') how
		span(onclick='DrDate("they");') they
		span(onclick='DrDate("dont");') don’t
		span(onclick='DrDate("crash");') crash
		span(onclick='DrDate("into");') into
		span(onclick='DrDate("each");') each
		span(onclick='DrDate("other");') other
		span(onclick='DrDate("up");') up
		span(onclick='DrDate("there");') there
		| . 
		span(onclick='DrDate("");')
		input.read_btn.link(type='button', onclick='playC(12);')
#bubble12.annotation(style='display:none;')
#ct12.Chinese 姍德拉：嗯，你是對的。我打賭它只是衛星或什麼之類的。實際上，我看見不少喔。我真好奇它們是如何不在空中相撞的。
a#N13(name='13')
#t13.english
	.art-star
		.icon-star
	.art-art
		span(onclick='DrDate("Jeremy");') Jeremy
		| : 
		span(onclick='DrDate("Apparently");') Apparently
		| , 
		span(onclick='DrDate("they");') they
		span(onclick='DrDate("do");') do
		| . 
		span(onclick='DrDate("I");') I
		span(onclick='DrDate("was");') was
		span(onclick='DrDate("just");') just
		span(onclick='DrDate("reading");') reading
		span(onclick='DrDate("that");') that
		span(onclick='DrDate("there");') there
		span(onclick='DrDate("is");') is
		span(onclick='DrDate("so");') so
		span(onclick='DrDate("much");') much
		span(onclick='DrDate("space");') space
		span(onclick='DrDate("junk");') junk
		span(onclick='DrDate("that");') that
		span(onclick='DrDate("its");') it’s
		span(onclick='DrDate("becoming");') becoming
		span(onclick='DrDate("a");') a
		span(onclick='DrDate("problem");') problem
		span(onclick='DrDate("for");') for
		span(onclick='DrDate("communication");') communication
		span(onclick='DrDate("and");') and
		span(onclick='DrDate("research");') research
		span(onclick='DrDate("companies");') companies
		| . 
		span(onclick='DrDate("");')
		input.read_btn.link(type='button', onclick='playC(13);')
#bubble13.annotation(style='display:none;')
#ct13.Chinese 傑若米：很顯然地，它們會撞到。我之前才讀到有過多的太空垃圾，逐漸成為通訊和研究公司的問題。
a#N14(name='14')
#t14.english
	.art-star
		.icon-star
	.art-art
		span(onclick='DrDate("Sandra");') Sandra
		| : 
		span(onclick='DrDate("That");') That
		span(onclick='DrDate("sounds");') sounds
		span(onclick='DrDate("hard");') hard
		span(onclick='DrDate("to");') to
		span(onclick='DrDate("fix");') fix
		| . 
		span(onclick='DrDate("");')
		input.read_btn.link(type='button', onclick='playC(14);')
#bubble14.annotation(style='display:none;')
#ct14.Chinese 姍德拉：這聽起來很難解決。
a#N15(name='15')
#t15.english
	.art-star
		.icon-star
	.art-art
		span(onclick='DrDate("Jeremy");') Jeremy
		| : 
		span(onclick='DrDate("Yes");') Yes
		| , 
		span(onclick='DrDate("it");') it
		span(onclick='DrDate("is");') is
		| . 
		span(onclick='DrDate("But");') But
		| , 
		span(onclick='DrDate("for");') for
		span(onclick='DrDate("now");') now
		| , 
		span(onclick='DrDate("you");') you
		span(onclick='DrDate("and");') and
		span(onclick='DrDate("I");') I
		span(onclick='DrDate("can");') can
		span(onclick='DrDate("just");') just
		span(onclick='DrDate("watch");') watch
		span(onclick='DrDate("them");') them
		span(onclick='DrDate("drift");') drift
		span(onclick='DrDate("around");') around
		span(onclick='DrDate("like");') like
		span(onclick='DrDate("moving");') moving
		span(onclick='DrDate("stars");') stars
		| ! 
		span(onclick='DrDate("");')
		input.read_btn.link(type='button', onclick='playC(15);')
//- #bubble15.annotation(style='display:none;')
#ct15.Chinese 傑若米：嗯，是的。但是現在，妳跟我可以看它們漂移就像流星一樣！
