.vacbox
	.vacmain
		span.vacmain-en swarm (n.)
		span.vacmain-ch  群
	.vacsub
		span.vacsub-en
			| As soon as Chaw came out of the hospital, he was immediately surrounded by a swarm of media reporters.
		span.vacsub-ch  走出醫院的曹格，立刻被媒體蜂湧包圍。
.vacbox
	.vacmain
		span.vacmain-en debris (n.)
		span.vacmain-ch  殘骸
	.vacsub
		span.vacsub-en
			| Apart from one plane engine being clearly identifiable on sight, the rest was all debris and portions of corpses.
		span.vacsub-ch  放眼望去除了可清楚的看到1具飛機引擎外，全都是細碎殘骸跟屍塊。
.vacbox
	.vacmain
		span.vacmain-en orbit (n.)
		span.vacmain-ch  軌道
	.vacsub
		span.vacsub-en
			| While the space station was moving past South Africa towards India in its orbit around the earth, both parties took advantage of the eight minutes when signals were clearest to converse.
		span.vacsub-ch  當太空站環繞地球、經過南非往印度方向移動時，雙方把握8分鐘訊號最清楚時機對話。
.vacbox
	.vacmain
		span.vacmain-en satellite (n.)
		span.vacmain-ch  衛星
.vacbox
	.vacmain
		span.vacmain-en drift (v.)
		span.vacmain-ch  漂流
	.vacsub
		span.vacsub-en
			| They sometimes even have lunch sitting on the shores of Loch Ness watching the clouds drift by.
		span.vacsub-ch 他們有時會坐在尼斯湖畔享用午餐，看著天空的白雲飄過去。 
