/* inner html */
body,
.translation_list_BG,
#BGLoading{
	background-color: rgba(255,255,255,.95)!important;
}
#tranglationFont,
.part-of-speech{
	color: #003366;
}
.translation_DJ,
.translation_status,
.translation_status l1,
.translation_status li,
.definitionS,
.example_enS{
	color: #003366;
}
