.is-item-audiotype
	position: relative
	.funbar-btn
		cursor: pointer
		line-height: 34px
		user-select: none
		border-radius: 17px
		display: flex
		align-items: center
		padding:
			right: 10px

	&.is-not-ready
		.funbar-btn
			cursor: not-allowed
		.audio-icon
			box-shadow: none
		
	&.active
		.audio-icon
			&:before
				display: none
			&:after
				display: block

.audio-icon
	position: relative
	width: 20px
	height: 20px
	border-radius: 50%
	margin:
		left: 7px
	box-shadow: 0 0 8px rgba(0,0,0,.3), 0 0 1px rgba(0,0,0,.65)
	&:before,&:after
		content: ''
		position: absolute
	&:before
		top: 4px
		left: 7px
		display: block
		width: 0
		height: 0
		border:
			style: solid
			width: 6px 0 6px 8px
	&:after
		display: none
		width: 8px
		height: 8px
		top: 6px
		left: 6px

@media screen and (max-width: 1440px)
	.typebox2
		width: 216px

@media screen and (min-width: 1441px)
	.typebox2
		width: 236px
	