#stepBlock2
	.share-title
		display: block
// -----------------------------------
.s2-main
	height: calc( 100% - #{$th} - #{$tmb} )
	position: relative

.s2-main-box
	position: absolute
	top: 0
	left: 0
	
.s2-main-item
	height: 100%

.s2-main-flex
	display: flex
	//height: calc( 100% - #{$hbtn})
	align-items: center
	justify-content: center
	height: 100%

.s2-main-wrapper
	width: 95%
	display: flex
	flex-direction: column
	height: 100%
	justify-content: space-around

.s2-main-textbox
	display: flex
	justify-content: center

.s2-main-textbox-left
	.icon-star
		margin:
			top: 4px
			right: 10px


// EN
.s2-en
	line-height: 1.4
	padding:
		bottom: 14px
	span
		font:
			size: 1.3125rem
		letter-spacing: 1.2px

// CH 
.s2-ch
	font:
		size: 1rem
	line-height: 1.4

// -----------------------------------
// TITLE
#Step2t0, #Tct0
	text-align: center
	.icon-star
		display: inline-block
		vertical-align: -1px


// -----------------------------------
// -- RECORD UI
// -----------------------------------
.s2-record
	display: flex
	justify-content: center
	width: 100%
	// for demo
	& + .s2-record
		margin:
			top: -85px
			bottom: 20px

.s2-record-item
	width: 60px
	text-align: center
	cursor: pointer
	display: flex
	flex-direction: column
	font:
		size: .875rem
	margin:
		right: 10px
		left: 10px
	&.is-small
		& > div
			transform: scale(.91) translateY(3px)
			transform-origin: 100% 50%
	& > * 
		margin: o auto
	.is-on
		display: none
	.active
		& + .is-off
			display: none
		& + .is-off + .is-on
			display: block



.step2-finalbox
	position: relative
	line-height: 36px

.recoard-done
	position: absolute
	top: 0px
	left: 50%
	transform: translateX(-50%)
	line-height: 36px
	padding: 0 45px
	border-radius: 18px
	cursor: pointer
	font:
		size: 1rem

.next-unit
	font:
		size: 1.1875rem
		weight: bold
	cursor: pointer
	float: right
	display: flex
	align-items: center
	.icon-arrowleft
		display: inline-block
		width: 22px
		transform: rotate(180deg) scale(.7) 