#ex2.is-def
	.s3-score,
	.share-next,
	.s3-ansbox
		display: none
	.s3ex2-submitbox
		display: block
	.s3ex2-iptbox
		display: inline-block

// -----------------------------------
.s3ex2-iptbox input
	@extend %s3en
	line-height: 1.5

.s3ex2-iptbox
	font-size: 0
	display: none
	margin:
		right: 8px
	input
		// line-height: 26px
		height: 23px
		border: none
		border-bottom: solid 1px #333
		text-align: center

.s3ex2-str,
.s3ex2-end
	display: inline-block
	position: relative
	&:after
		display: block
		content: ''
		width: 100%
		height: 1px
		background-color: #000
		bottom: 2px
		position: absolute

.s3ex2-str
	&::after
		left: 2px

// -----------------------------------
.s3ex2-submitbox
	text-align: center
	display: none

@media screen and (max-width: 1440px)
	.s3ex2-str,
	.s3ex2-end
		&:after
			bottom: 2px

@media screen and (min-width: 1441px)
	.s3ex2-str,
	.s3ex2-end
		&:after
			bottom: 5px