$w: 260px
$p: 30px
$w2: 50px
$wa: 40px
// -----------------------------------
#ex3.is-def
	.s3ex3-ipt 
		display: inline-block
		position: relative
		&:after
			content: ''
			display: block
			width: 100%
			height: 1px
			position: absolute
			bottom: 3px

	.s3-ansbox,
	.s3-score
		display: none

// -----------------------------------
.s3ex3-main
	display: flex

.s3ex3-left
	width: calc( 100% - #{$w} )
	border:
		right: solid 2px #e7e7e7
	padding:
		right: $p

.s3ex3-right
	width: $w
	padding:
		left: $p
// -----------------------------------
.s3ex3-ipt
	display: none

// -----------------------------------
.s3ex3-right-title
	font:
		size: 1.5rem
		weight: bold
	text:
		align: center
	margin:
		bottom: 20px
	padding-right: $wa

.s3ex3-right-ansbox
	margin-bottom: 80px

.s3ex3-right-item
	display: flex
	align-items: center
	margin:
		bottom: 15px

.s3ex3-right-l
	font:
		size: 1.5rem
	border-radius: 25px
	border:
		style: solid
		width: 1px
	line-height: 46px
	cursor: pointer
	padding: 0 15px 0 30px
	display: flex
	width: calc( 100% - #{$wa})
	& > span
		text-align: center
		&:first-child
			width: calc( 100% - #{$w2} )
		&:last-child
			width: $w2

.s3ex3-right-r
	width: $wa
	padding:
		left: 10px

.is-false
	.s3ex3-right-l
		& > span:first-child > span
			border:
				bottom-style: solid
				bottom-width: 1px

// -----------------------------------
.s3ex3-submitbox
	text-align: center
	overflow: hidden
	display: block
	padding:
		right: $wa
	.s3-submit
		float: right
	& > *
		width: 46%
		padding: 10px 0

.s3-reset
	float: left
	display: inline-block
	border:
		style: solid
		width: 1px
	font:
		size: 1.125rem
		// weight: bold
	line-height: 1
	border-radius: 50px
	opacity: .8
	transition: .3s
	&:hover,&:focus
		text:
			decoration: none
		opacity: 1
		transition: .3s