@import 'share/reset'

$w-aside: 640px
$c1: #f74769
$c2: #cf3b57
$c3: #fffaa1
$c3-t: rgba(255, 250, 161, .85)
$c4: #d4c585
$c4-t: rgba(212, 197, 133, .85)
@import 'step1/icon'
@import 'step1/nav'
@import 'step1/aside'
@import 'step1/main'
@import 'step1/function_bar'
@import 'step1/float_lab'