#EX1.RightContent2(data-value='0')
	.EXBlock &#x7406;&#x89E3;&#x529B;&#x6E2C;&#x9A57;
	.EXSlogn &#x78BA;&#x5BE6;&#x77AD;&#x89E3;&#x6587;&#x7AE0;&#x5167;&#x5BB9;&#x55CE;&#xFF1F;&#x4F9D;&#x7167;&#x6587;&#x7AE0;&#x5167;&#x5BB9;&#x4F9D;&#x5E8F;&#x56DE;&#x7B54;&#x4E0B;&#x5217;&#x554F;&#x984C;&#x5427;&#xFF01;
	.EXContent
		table(width='100%', border='0', cellspacing='1')
		tbody
			tr
				td(align='center', valign='top', width='3%') 1.
				td.samplesentance(align='left', width='90%', valign='top') Why did PChome file a charge against Shopee?
			tr
				td(align='center', width='3%', valign='top')
				input#answer0-1.magic-radio(value='1', type='radio', name='answer0')
				label#answer_label0-1.pupEn_label(style='position:relative;float:left', for='answer0-1')
				td.link(align='left', width='100%', valign='top', onclick='readckick(0,1)') (A)They noticed that Shopee copied their ideas.
			tr
				td(valign='top', align='center', width='3%')
				input#answer0-2.magic-radio(value='2', type='radio', name='answer0')
				label#answer_label0-2.pupEn_label(style='position:relative;float:left', for='answer0-2')
				td.link(align='left', width='100%', valign='top', onclick='readckick(0,2)') (B)They found out that Shopee stole their clients&rsquo; data.
			tr
				td(valign='top', align='center', width='3%')
				input#answer0-3.magic-radio(value='3', type='radio', name='answer0')
				label#answer_label0-3.pupEn_label(style='position:relative;float:left', for='answer0-3')
				td.link(align='left', width='100%', valign='top', onclick='readckick(0,3)') (C)They thought that Shopee damaged their reputation.
			tr
				td(valign='top', align='center', width='3%')
				input#answer0-4.magic-radio(value='4', type='radio', name='answer0')
				label#answer_label0-4.pupEn_label(style='position:relative;float:left', for='answer0-4')
				td.link(align='left', width='100%', valign='top', onclick='readckick(0,4)') (D)They suspected that Shopee made the same commercial as they did
		br
		table(width='100%', border='0', cellspacing='1')
		tbody
			tr
				td(align='center', valign='top', width='3%') 2.
				td.samplesentance(align='left', width='90%', valign='top') What was the commercial really about?
			tr
				td(align='center', width='3%', valign='top')
				input#answer1-1.magic-radio(value='1', type='radio', name='answer1')
				label#answer_label1-1.pupEn_label(style='position:relative;float:left', for='answer1-1')
				td.link(align='left', width='100%', valign='top', onclick='readckick(1,1)') (A)breaking up with bad partners and meet someone new
			tr
				td(valign='top', align='center', width='3%')
				input#answer1-2.magic-radio(value='2', type='radio', name='answer1')
				label#answer_label1-2.pupEn_label(style='position:relative;float:left', for='answer1-2')
				td.link(align='left', width='100%', valign='top', onclick='readckick(1,2)') (B)promoting Shopee&rsquo;s upgraded delivery service
			tr
				td(valign='top', align='center', width='3%')
				input#answer1-3.magic-radio(value='3', type='radio', name='answer1')
				label#answer_label1-3.pupEn_label(style='position:relative;float:left', for='answer1-3')
				td.link(align='left', width='100%', valign='top', onclick='readckick(1,3)') (C)accusing PChome of giving bad services
			tr
				td(valign='top', align='center', width='3%')
				input#answer1-4.magic-radio(value='4', type='radio', name='answer1')
				label#answer_label1-4.pupEn_label(style='position:relative;float:left', for='answer1-4')
				td.link(align='left', width='100%', valign='top', onclick='readckick(1,4)') (D)leaving PChome and turn to Shopee
		br
		table(width='100%', border='0', cellspacing='1')
		tbody
			tr
				td(align='center', valign='top', width='3%') 3.
				td.samplesentance(align='left', width='90%', valign='top') What was the prosecutor&rsquo;s final decision?
			tr
				td(align='center', width='3%', valign='top')
				input#answer2-1.magic-radio(value='1', type='radio', name='answer2')
				label#answer_label2-1.pupEn_label(style='position:relative;float:left', for='answer2-1')
				td.link(align='left', width='100%', valign='top', onclick='readckick(2,1)') (A)The prosecutor didn&grave;t think the commercial was a crime.
			tr
				td(valign='top', align='center', width='3%')
				input#answer2-2.magic-radio(value='2', type='radio', name='answer2')
				label#answer_label2-2.pupEn_label(style='position:relative;float:left', for='answer2-2')
				td.link(align='left', width='100%', valign='top', onclick='readckick(2,2)') (B)The prosecutor sued PChome instead.
			tr
				td(valign='top', align='center', width='3%')
				input#answer2-3.magic-radio(value='3', type='radio', name='answer2')
				label#answer_label2-3.pupEn_label(style='position:relative;float:left', for='answer2-3')
				td.link(align='left', width='100%', valign='top', onclick='readckick(2,3)') (C)The prosecutor put a charge against Shopee.
			tr
				td(valign='top', align='center', width='3%')
				input#answer2-4.magic-radio(value='4', type='radio', name='answer2')
				label#answer_label2-4.pupEn_label(style='position:relative;float:left', for='answer2-4')
				td.link(align='left', width='100%', valign='top', onclick='readckick(2,4)') (D)The prosecutor decided to hand over the case to someone else.
		br
	.EX1Submit.link(onclick='EX1_end()') &#x9001;&#x51FA;
	div(style='position:relative;margin: 0 auto;width:100%;height:50px;')
#EX2.RightContent2(data-value='0')
	.EXBlock &#x807D;&#x529B;&#x6E2C;&#x9A57;
	.EXSlogn &#x5229;&#x7528;&#x6ED1;&#x9F20;&#x9EDE;&#x64CA;&#x5587;&#x53ED;&#x64AD;&#x653E;&#x97F3;&#x64CB;&#xFF0C;&#x8A66;&#x8457;&#x5C07;&#x96B1;&#x85CF;&#x7684;&#x55AE;&#x5B57;&#x62FC;&#x51FA;&#x4F86;&#xFF0C;&#x5FEB;&#x901F;&#x6AA2;&#x8996;&#x81EA;&#x5DF1;&#x7684;&#x807D;&#x529B;&#x53CA;&#x5B57;&#x5F59;&#x80FD;&#x529B;&#x3002;
	.EXLeft
		.EXPlayer.link(onclick='EX_play()')
		span.content_eng16(align='left', valign='top') Shopee in Legal Battle with PChome
		p
		span.content_eng16(align='left', valign='top')
			| Competition in Taiwan&rsquo;s e-commerce industry is heating up, with major shopping platforms trying to attract customers from each other. Now, a new front has opened in this war: online shopping giant PChome filed a (1).d********n charge against its Singapore-based rival, Shopee, claiming its reputation has been tarnished by the latter&rsquo;s comparative advertising campaign. Shopee was prosecuted after repeated investigations by the Taiwan Taipei Prosecutors Office.
		p
		span.content_eng16(align='left', valign='top')
			| In an advertising video directed by Shopee last May, a woman is seen breaking up with her boyfriend, who happens to be carrying a PChome shipping carton. A while later, the woman slips into a (2).r*********t monologue about how she had gotten used to his being &ldquo;late&rdquo; and &ldquo;passive,&rdquo; and his sending &ldquo;canned messages.&rdquo; The commercial goes on with her collecting an order from Shopee and exchanging smiles and glances with her handsome neighbor, who is holding a Shopee cardboard box. After she gets back into the house, she concludes: &ldquo;A breakup comes before a more beautiful encounter.&rdquo; Once the connections are established between the woman&rsquo;s ex-boyfriend and PChome on the one hand, and her neighbor and Shopee on the other, viewers can understand the message quite clearly: they should part company with an (3).u************y service, in this case PChome, just as they would with an unsatisfactory partner.
		p
		span.content_eng16(align='left', valign='top')
			| Before long, the ad (4).s*****d PChome into legal action. Initially, the prosecutor&rsquo;s office rejected the charge, saying the commercial was a mere display of humor. Whether PChome was indeed &ldquo;late,&rdquo; &ldquo;passive&rdquo; and sending &ldquo;canned messages&rdquo; was up to the (5).j******t of individual consumers, it said.
		p
		span.content_eng16(align='left', valign='top')
			| Dissatisfied with the decision, PChome applied for a reconsideration of the case. After reviewing the evidence, the prosecutor finally conceded that the commercial did detract from PChome&rsquo;s reputation and indicted Shopee accordingly.
		p
	.EXRight
		span(align='left')
		| 1.&nbsp;
		input#EX2answer1.EX2-text(name='EX2answer1', type='text')
		p
		span(align='left')
			| 2.&nbsp;
			input#EX2answer2.EX2-text(name='EX2answer2', type='text')
		p
		span(align='left')
			| 3.&nbsp;
			input#EX2answer3.EX2-text(name='EX2answer3', type='text')
		p
		span(align='left')
			| 4.&nbsp;
			input#EX2answer4.EX2-text(name='EX2answer4', type='text')
		p
		span(align='left')
			| 5.&nbsp;
			input#EX2answer5.EX2-text(name='EX2answer5', type='text')
		p
		.EXClear.link(onclick='EX2_Clear()') &#x6E05;&#x9664;
		.EX2Submit.link(onclick='EX2_end()') &#x9001;&#x51FA;
	div(style='float:left;position:relative;margin: 0 auto;width:100%;height:50px;')
#EX3.RightContent2(data-value='0')
	.EXBlock &#x514B;&#x6F0F;&#x5B57;&#x6E2C;&#x9A57;
	.EXSlogn
	.EXRecord
		table(width='80%', border='0', cellspacing='0', align='center')
		tbody
			tr(height='60')
				td(align='right', width='10%')
				td(align='left', width='30%')
				td(align='center', width='40%')
				#EXRec_3.EXRec 60
	.EXContent
		span(align='left', valign='top')
		| Now, a new front has opened in this war: online shopping giant PChome filed a defamation 
		span.RightColor charge against
		|  its Singapore-based rival, Shopee, claiming its reputation has been tarnished by the latter&rsquo;s comparative advertising campaign.
		p
		span(align='left', valign='top')
			| In an advertising video directed by Shopee last May, a woman is seen breaking up with her boyfriend, who 
			span.RightColor happens to
			|  be carrying a PChome shipping carton.
		p
		span(align='left', valign='top')
			| The commercial 
			span.WrongColor(style='text-decoration:line-through;') into
			span.RightColor goes on
			|  with her collecting an order from Shopee and exchanging smiles and glances with her handsome neighbor, who is holding a Shopee cardboard box.
		p
		span(align='left', valign='top')
			| Before long, the ad spurred 
			span.WrongColor(style='text-decoration:line-through;') on
			span.RightColor PChome into
			|  legal action.
		p
		span(align='left', valign='top')
			| Dissatisfied with the decision, PChome 
			span.RightColor applied for
			|  a reconsideration of the case.
		p
	div(style='position:relative;margin: 0 auto;width:100%;height:50px;')
