.cover
	.cover-msg
		h3.cover-title 加強記憶
		.cover-box
			.cover-box-item
				.cover-box-left
					.cover-box-num 1 
					|抄寫練習：
				.cover-box-right 將聽到的原音一字一句抄寫在FUNDAY筆記本中，累計語感與聽力能力，強化學習記憶。
			.cover-box-item
				.cover-box-left
					.cover-box-num 2
					|跟讀練習：
				.cover-box-right 抄完之後試著點選錄音建，將你所聽到的句子再錄一次，撥放給自己聽，增強自己的跟讀能力。
		.cover-check
			input.cover-check-ipt(type='checkbox' id='readied2')
			label.cover-check-lab(for='readied2') 知道了
		.cover-btn start

div(style='height: 1600px') is step 2