.share-title
	.share-title-text 練習進度
	.share-title-percent 88%

.s2-main
	.s2-main-box
		// F1 : TITLE
		.s2-main-item
			a#Tt0(name='Tt0')
			.s2-main-flex
				.s2-main-wrapper
					.share-pre(style='display: none;')
						.icon-arrowleft
						|返回前段
					.s2-main-textbox
						.s2-main-textbox-left
							.icon-star(style='display: none;')
						.s2-main-textbox-right
							//- EN
							#Step2t0.s2-en
								.icon-star
								span(ondblclick='word_get("Shopee","0");')  Shopee
								span(ondblclick='word_get("in","1");')  in
								span(ondblclick='word_get("Legal","2");')  Legal
								span(ondblclick='word_get("Battle","3");')  Battle
								span(ondblclick='word_get("with","4");')  with
								span(ondblclick='word_get("PChome","5");')  PChome
							//- CH
							#Tct0.s2-ch &#x8766;&#x76AE;&#x8207;PChome&#x5B98;&#x53F8;&#x7E8F;&#x9B25;
					include partials/record
					//- NEXT BTN
					.share-next
						|開始
						.icon-arrowleft
					

		// FLOOR2 : ART STR
		.s2-main-item
			a#Tt1(name='Tt1')
			//- MAIN BOX
			.s2-main-flex
				.s2-main-wrapper
					.share-pre
						.icon-arrowleft
						|返回前段
					.s2-main-textbox
						.s2-main-textbox-left
							.icon-star
						.s2-main-textbox-right
							//- EN
							#Step2t1.s2-en
								span(ondblclick='word_get("Competition","0");')  Competition
								span(ondblclick='word_get("in","1");')  in
								span(ondblclick='word_get("Taiwan’s","2");')  Taiwan&rsquo;s
								span(ondblclick='word_get("e-commerce","3");')  e-commerce
								span(ondblclick='word_get("industry","4");')  industry
								span(ondblclick='word_get("is","5");')  is
								span(ondblclick='word_get("heating","6");')  heating
								span(ondblclick='word_get("up,","7");')  up,
								span(ondblclick='word_get("with","8");')  with
								span(ondblclick='word_get("major","9");')  major
								span(ondblclick='word_get("shopping","10");')  shopping
								span(ondblclick='word_get("platforms","11");')  platforms
								span(ondblclick='word_get("trying","12");')  trying
								span(ondblclick='word_get("to","13");')  to
								span(ondblclick='word_get("attract","14");')  attract
								span(ondblclick='word_get("customers","15");')  customers
								span(ondblclick='word_get("from","16");')  from
								span(ondblclick='word_get("each","17");')  each
								span(ondblclick='word_get("other.","18");')  other.
								span(ondblclick='word_get("","19");') 
							//- CH
							#Tct1.s2-ch 隨著台灣的電商競爭越演越烈，大型平台相互較勁搶客，
					//- RADIO RECODER
					include partials/record
					.share-next
						|下一句
						.icon-arrowleft

		// FLOOR3 : ART 2
		.s2-main-item
			a#Tt2(name='Tt2')
			.s2-main-flex
				.s2-main-wrapper
					.share-pre
						.icon-arrowleft
						|返回前段
					.s2-main-textbox
						.s2-main-textbox-left
							.icon-star
						.s2-main-textbox-right
							//- EN
							#Step2t2.s2-en
								span(ondblclick='word_get("Now,","0");')  Now,
								span(ondblclick='word_get("a","1");')  a
								span(ondblclick='word_get("new","2");')  new
								span(ondblclick='word_get("front","3");')  front
								span(ondblclick='word_get("has","4");')  has
								span(ondblclick='word_get("opened","5");')  opened
								span(ondblclick='word_get("in","6");')  in
								span(ondblclick='word_get("this","7");')  this
								span(ondblclick='word_get("war:","8");')  war:
								span(ondblclick='word_get("online","9");')  online
								span(ondblclick='word_get("shopping","10");')  shopping
								span(ondblclick='word_get("giant","11");')  giant
								span(ondblclick='word_get("PChome","12");')  PChome
								span(ondblclick='word_get("filed","13");')  filed
								span(ondblclick='word_get("a","14");')  a
								span(ondblclick='word_get("defamation","15");')  defamation
								span(ondblclick='word_get("charge","16");')  charge
								span(ondblclick='word_get("against","17");')  against
								span(ondblclick='word_get("its","18");')  its
								span(ondblclick='word_get("Singapore-based","19");')  Singapore-based
								span(ondblclick='word_get("rival,","20");')  rival,
								span(ondblclick='word_get("Shopee,","21");')  Shopee,
								span(ondblclick='word_get("claiming","22");')  claiming
								span(ondblclick='word_get("its","23");')  its
								span(ondblclick='word_get("reputation","24");')  reputation
								span(ondblclick='word_get("has","25");')  has
								span(ondblclick='word_get("been","26");')  been
								span(ondblclick='word_get("tarnished","27");')  tarnished
								span(ondblclick='word_get("by","28");')  by
								span(ondblclick='word_get("the","29");')  the
								span(ondblclick='word_get("latter’s","30");')  latter&rsquo;s
								span(ondblclick='word_get("comparative","31");')  comparative
								span(ondblclick='word_get("advertising","32");')  advertising
								span(ondblclick='word_get("campaign.","33");')  campaign.
								span(ondblclick='word_get("","34");')  
							//- CH
							#Tct2.s2-ch 而現在更延燒出新的戰場：網購龍頭PChome控告新加坡電商蝦皮妨害名譽，指出蝦皮針鋒相對的宣傳廣告讓PChome商譽受損。
					//- RADIO RECODER
					include partials/record
					.step2-finalbox
						.recoard-done 完成全部錄音
						.next-unit
							| 前往學習驗收
							.icon-arrowleft

//-.cover
	.cover-msg
		h3.cover-title 加強記憶
		.cover-box
			.cover-box-item
				.cover-box-left
					.cover-box-num 1 
					|抄寫練習：
				.cover-box-right 將聽到的原音一字一句抄寫在FUNDAY筆記本中，累計語感與聽力能力，強化學習記憶。
			.cover-box-item
				.cover-box-left
					.cover-box-num 2
					|跟讀練習：
				.cover-box-right 抄完之後試著點選錄音建，將你所聽到的句子再錄一次，撥放給自己聽，增強自己的跟讀能力。
		.cover-check
			input.cover-check-ipt(type='checkbox' id='readied2')
			label.cover-check-lab(for='readied2') 知道了，30 日內不再顯示訊息
		.cover-btn start